.menu {
  > a {
    transition: all 0.25 0s linear;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    text-align: center;
    color: rgba(128, 128, 128, 1);
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid rgba(0, 0, 0, 1);
    }
    &.--selected {
      background: rgba(0, 0, 0, 0.75);
      color: rgba(255, 255, 255, 9);
    }
  }
}
