.board {
  margin: 0 1rem;
  > .board__container {
    font-size: 10px;
    > li {
      > .board__container__box {
        height: 3em;
        width: 3em;
        color: rgba(128, 128, 128, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.5);
        &:hover {
          color: rgba(128, 128, 128, 1);
          transform: scale(1.75);
        }
        &:active {
          border-color: rgba(128, 128, 128, 1);
          font-weight: 600;
          transform: scale(0.75);
        }
      }
    }
  }
}
